<div class="mat-elevation-z8">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>{{themeName}}</span>
      <span class="spacer"></span>
      <span>{{status}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Readability Column -->
    <ng-container matColumnDef="readability">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Readability </th>
      <td mat-cell *matCellDef="let element">
        <app-readability-view [readability]="element.readability"></app-readability-view>
      </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
      <td mat-cell *matCellDef="let element">
        <app-token-color-editor [(color)]="element.color" [backgroundColor]="element.backgroundColor"></app-token-color-editor>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Scope Column -->
    <ng-container matColumnDef="scope">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Scope </th>
      <td mat-cell *matCellDef="let element"> {{element.scope | arrayToString}} </td>
    </ng-container>

    <!-- Modified Column -->
    <ng-container matColumnDef="modified">
      <th mat-header-cell *matHeaderCellDef>Modified</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="element.isModified"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="cell-button" color="primary" (click)="editTokenColor(element)">
          <mat-icon fontSet="mdi" fontIcon="mdi-square-edit-outline" matTooltip="Edit"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"><tr>
  </table>
</div>
