@import '~@angular/material/theming';

.table-header {
  min-height: 64px;
  padding: 8px 24px 0;
  background-color: map-get($mat-light-theme-background, 'card');
}

table {
  width: 100%;
}

mat-checkbox {
  margin-right: 15px;
  margin-left: 15px;
}

.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td span {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 170px;
}
