<div class="button-row">
  <button mat-icon-button color="primary" (click)="darken()">
    <mat-icon fontSet="mdi" fontIcon="mdi-brightness-7" matTooltip="Darken the color."></mat-icon>
  </button>
  <input
    class="monospaced color-editor-input"
    [style.background-color]="backgroundColor"
    [style.color]="hexValue"
    [value]="hexValue"
    (input)="changeColor($event)"
    (focus)="onInputFocus()"
    (blur)="onInputBlur()">
  <button mat-icon-button color="primary" (click)="lighten()">
    <mat-icon fontSet="mdi" fontIcon="mdi-brightness-5" matTooltip="Lighten the color."></mat-icon>
  </button>
</div>
