/deep/.mat-tab-label {
  min-width: 72px !important;
 }

.container {
  height: 410px;
  width: 347px;
  display: flex;
  flex-direction: column;

  div.preview {
    height: 64px;

    input {
      border-width: 0;
      font-size: 100%;
      text-align: center;
      outline: none;
      color: #eee;
      padding: 0;
    }

    .dark {
      color: #333;
    }
  }

  .editor-container {
    margin: 8px;

    .editor-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 70px;

      span {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.125;
        font-family: Roboto,"Helvetica Neue",sans-serif;
      }

      mat-slider {
        width: 200px;
      }

      mat-form-field {
        width: 60px;
      }
    }
  }
}

.layout-align-center {
  display: flex;
  justify-content: center;
}

.layout-fill {
  width: 100%;
  min-height: 100%;
  height: 100%;
}
