.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

div {
  display: flex;
  flex-direction: row;
  padding: 8px 0;

  div.token-editor {
    display: flex;
    flex-direction: column;
    margin-right: 24px;

    mat-checkbox {
      margin-right: 10px;
    }
  }
}
